<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heesoo.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".SetCurrentUser.SetCurrentUser"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_LogIn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".Register.RegisterActivity"></activity>
        <activity android:name="com.example.heesoo.myapplication.ChooseMode.ChooseModeActivity"></activity>
        <activity android:name=".Provider.ProviderMainActivity"></activity>
        <activity android:name=".Requestor.RequesterMainActivity"></activity>
        <activity android:name=".Profile.ViewProfileActivity"></activity>
        <activity android:name=".Profile.EditProfileActivity"></activity>
        <activity android:name=".Requestor.RequestorAddTaskActivity"></activity>
        <activity android:name=".Requestor.RequestorShowTaskDetailActivity"></activity>
        <activity android:name=".Provider.ProviderViewAssignedTaskDetail"></activity>
        <activity android:name=".Requestor.RequesterBiddedTasksListActivity"></activity>
        <activity android:name=".Requestor.RequestorAssignedTaskListActivity"></activity>
        <activity android:name=".Provider.ProviderFindNewTaskActivity"></activity>
        <activity android:name=".Provider.ProviderPlaceBidActivity"></activity>
        <activity android:name=".Requestor.RequestorBidDetailActivity"></activity>
        <activity android:name=".Requestor.RequestorEditTaskActivity"></activity>
        <activity android:name=".Provider.ProviderViewBiddedTaskList"></activity>
        <activity android:name=".Requestor.RequestorViewBidsOnTaskActivity"></activity>



    </application>
</manifest>